@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-size: 14px;
  color: #1a2242;
  font-family: "Poppins";
  background-color: #f5f6fa;
}

.container {
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

#sidebar {
  z-index: 1;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid #ebeaf0;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.05);
  /* Logo */
  /* #menu */
}
#sidebar #logo {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: 1px solid #ebeaf0;
  margin-bottom: 25px;
}
#sidebar #logo img {
  width: 200px;
  height: 40px;
}
#sidebar #menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#sidebar #menu li {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 25px;
  cursor: pointer;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: 1px solid rgba(235, 234, 240, 0.4);
}
#sidebar #menu li a {
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: #939bb0;
  align-items: center;
  text-decoration: none;
}
#sidebar #menu li a i {
  width: 20px;
  font-size: 22px;
  margin-right: 10px;
  text-align: center;
}
#sidebar #menu li a .arrow {
  font-size: 14px;
  margin-left: auto;
  transition: 350ms all ease;
}
#sidebar #menu li .sub-menu {
  height: 0px;
}
#sidebar #menu li.active {
  height: auto;
  min-height: 50px;
  box-shadow: inset 0 0 10px rgba(26, 34, 66, 0.025);
}
#sidebar #menu li.active a {
  font-weight: 600;
  color: #1a2242;
}
#sidebar #menu li.active a i {
  color: #4b85ff;
}
#sidebar #menu li.active a .arrow {
  transform: rotate(180deg);
}
#sidebar #menu li.active .sub-menu {
  height: auto;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* #content-header */
}
#content #content-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #ebeaf0;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.05);
  /* #search start */
  /* #profile */
  /* #notifications */
}
#content #content-header #search {
  width: 400px;
  height: 40px;
  margin-left: 25px;
  position: relative;
}
#content #content-header #search input[type=text] {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 5px;
  font-family: "Poppins";
  box-sizing: border-box;
  border: 1px solid #ebeaf0;
}
#content #content-header #search button[type=submit] {
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  border-radius: 5px;
  background-color: #4b85ff;
  box-shadow: 0 0 5px rgba(75, 133, 255, 0.25);
}
#content #content-header #profile {
  height: 100%;
  display: flex;
  padding: 0 25px;
  min-width: 200px;
  align-items: center;
  border-left: 1px solid #ebeaf0;
  cursor: pointer;
}
#content #content-header #profile .login-user {
  display: flex;
  align-items: center;
}
#content #content-header #profile .login-user img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.15);
  object-fit: cover;
}
#content #content-header #profile .login-user span {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
#content #content-header #profile .login-user span span {
  font-weight: 600;
  margin-bottom: 3px;
}
#content #content-header #profile .login-user span p {
  font-size: 12px;
  color: #9a9a9a;
}
#content #content-header #profile .login-user i {
  color: #9a9a9a;
}
#content #content-header #notifications {
  margin-left: auto;
  display: flex;
  margin-right: 25px;
}
#content #content-header #notifications li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 12px;
  position: relative;
}
#content #content-header #notifications li .counter {
  top: -6px;
  right: -15px;
  width: 15px;
  height: 15px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #fff;
  background-color: #4b85ff;
}
#content #content-header #notifications li a {
  color: #c6c7cc;
  text-decoration: none;
  font-size: 22px;
}
#content #content-inner {
  width: 100%;
  height: 100%;
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#content #content-inner #welcome {
  width: 100%;
  height: 125px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #f3ae7d, #bf51c2, #4057d2);
  display: flex;
  padding: 0 25px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
}
#content #content-inner #welcome img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid #fff;
  margin-right: 20px;
  object-fit: cover;
}
#content #content-inner #welcome .info-user {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
#content #content-inner #welcome .info-user span {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}
#content #content-inner #welcome .info-user p {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}
#content #content-inner #welcome .box {
  width: 175px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(26, 34, 66, 0.25);
  flex: flex-end;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
