@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-size: 14px;
  color: #1a2242;
  font-family: "Poppins";
  background-color: #f5f6fa;
}

.container {
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

#sidebar {
  z-index: 1;
  min-width: 250px;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid #ebeaf0;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.05);
  /* Logo */
  /* #menu */
}
#sidebar #logo {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: 1px solid #ebeaf0;
  margin-bottom: 25px;
}
#sidebar #logo img {
  width: 200px;
  height: 40px;
}
#sidebar #menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#sidebar #menu li {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 25px;
  cursor: pointer;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: 1px solid rgba(235, 234, 240, 0.4);
}
#sidebar #menu li a {
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: #939bb0;
  align-items: center;
  text-decoration: none;
}
#sidebar #menu li a i {
  width: 20px;
  font-size: 22px;
  margin-right: 10px;
  text-align: center;
}
#sidebar #menu li a .arrow {
  font-size: 14px;
  margin-left: auto;
  transition: 350ms all ease;
}
#sidebar #menu li .sub-menu {
  height: 0px;
}
#sidebar #menu li.active {
  height: auto;
  min-height: 50px;
  box-shadow: inset 0 0 10px rgba(26, 34, 66, 0.025);
}
#sidebar #menu li.active a {
  font-weight: 600;
  color: #1a2242;
}
#sidebar #menu li.active a i {
  color: #4b85ff;
}
#sidebar #menu li.active a .arrow {
  transform: rotate(180deg);
}
#sidebar #menu li.active .sub-menu {
  height: auto;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* #content-header */
}
#content #content-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #ebeaf0;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.05);
  /* #search start */
  /* #profile */
  /* #notifications */
}
#content #content-header #search {
  width: 400px;
  height: 40px;
  margin-left: 25px;
  position: relative;
}
#content #content-header #search input[type=text] {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 5px;
  font-family: "Poppins";
  box-sizing: border-box;
  border: 1px solid #ebeaf0;
}
#content #content-header #search button[type=submit] {
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  border-radius: 5px;
  background-color: #4b85ff;
  box-shadow: 0 0 5px rgba(75, 133, 255, 0.25);
}
#content #content-header #profile {
  height: 100%;
  display: flex;
  padding: 0 25px;
  min-width: 200px;
  align-items: center;
  border-left: 1px solid #ebeaf0;
  cursor: pointer;
}
#content #content-header #profile .login-user {
  display: flex;
  align-items: center;
}
#content #content-header #profile .login-user img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.15);
  object-fit: cover;
}
#content #content-header #profile .login-user span {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
#content #content-header #profile .login-user span span {
  font-weight: 600;
  margin-bottom: 3px;
}
#content #content-header #profile .login-user span p {
  font-size: 12px;
  color: #9a9a9a;
}
#content #content-header #profile .login-user i {
  color: #9a9a9a;
}
#content #content-header #notifications {
  margin-left: auto;
  display: flex;
  margin-right: 25px;
}
#content #content-header #notifications li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 12px;
  position: relative;
}
#content #content-header #notifications li .counter {
  top: -6px;
  right: -15px;
  width: 15px;
  height: 15px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #fff;
  background-color: #4b85ff;
}
#content #content-header #notifications li a {
  color: #c6c7cc;
  text-decoration: none;
  font-size: 22px;
}
#content #content-inner {
  width: 100%;
  height: 100%;
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#content #content-inner #welcome {
  width: 100%;
  height: 125px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #f3ae7d, #bf51c2);
  display: flex;
  padding: 0 25px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
}
#content #content-inner #welcome img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid #fff;
  margin-right: 20px;
  object-fit: cover;
}
#content #content-inner #welcome .info-user {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
#content #content-inner #welcome .info-user span {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}
#content #content-inner #welcome .info-user p {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}
#content #content-inner #welcome .welcome-box {
  width: 175px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(26, 34, 66, 0.25);
  flex: flex-end;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-title {
  width: 100%;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.025);
  min-height: 150px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.box .box-title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ebeaf0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.box .box-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form .group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
form .group:last-of-type {
  margin-bottom: 0px;
}
form span {
  margin-bottom: 8px;
}
form input[type=text],
form input[type=password],
form input[type=file],
form select,
form textarea {
  width: 100%;
  border: 1px solid #ebeaf0;
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  transition: 350ms all ease;
  font-family: "Poppins";
}
form input[type=text]:focus,
form input[type=password]:focus,
form input[type=file]:focus,
form select:focus,
form textarea:focus {
  border-color: #4b85ff;
}
form input[type=file] {
  height: auto;
  padding: 10px 15px;
}
form textarea {
  min-height: 100px;
  padding: 15px;
}
form img {
  width: 250px;
  margin-bottom: 15px;
  display: none;
  object-fit: contain;
}
form input[type=submit] {
  max-width: fit-content;
  border: none;
  box-shadow: 0 0 5px rgba(235, 234, 240, 0.25);
  border-radius: 3px;
  background-color: #4b85ff;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins";
  padding: 8px 20px;
  cursor: pointer;
  transition: 350ms all ease;
}
form input[type=submit]:hover {
  background-color: rgba(75, 133, 255, 0.85);
}
form .checkbox {
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .checkbox input[type=checkbox] {
  display: none;
}
form .checkbox span {
  margin: 0px 10px;
}
form .checkbox .cbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ebeaf0;
  box-sizing: border-box;
  position: relative;
}
form .checkbox.checked .cbox {
  border-color: #4b85ff;
  background-color: #4b85ff;
  border-radius: 2px;
}
form .checkbox.checked .cbox:before {
  content: "";
  position: absolute;
  font-family: "Ionicons";
  color: #fff;
  font-size: 28px;
  top: -5px;
  left: 2px;
}

.box-content h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h3 {
  font-size: 18.72px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h5 {
  font-size: 13.28px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h6 {
  font-size: 10.72px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content p {
  line-height: 1.5;
  margin-bottom: 25px;
}
.box-content .label {
  background-color: #ebeaf0;
  width: fit-content;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.025);
}
.box-content .label.primary {
  color: #fff;
  background-color: #4b85ff;
}
.box-content .label.success {
  color: #fff;
  background-color: #1bb394;
}
.box-content .label.danger {
  color: #fff;
  background-color: tomato;
}
.box-content .label.warning {
  color: #fff;
  background-color: #f8ac59;
}
.box-content .label.info {
  color: #fff;
  background-color: #1d84c6;
}

#full-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#full-container img {
  width: 100px;
  margin-bottom: 25px;
}
#full-container form {
  width: 350px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.025);
}
#full-container form .group {
  margin-bottom: 15px;
}

/*# sourceMappingURL=main.css.map */
