@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
::-webkit-scrollbar {
  width: 3px;
  border-right: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #1a2242;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-size: 14px;
  color: #1a2242;
  font-family: "Poppins";
  background-color: #f5f6fa;
  min-height: 5000px;
}

.container {
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

#sidebar {
  z-index: 1;
  min-width: 250px;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid #ebeaf0;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.05);
  /* Logo */
  /* #menu */
}
#sidebar #logo {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: 1px solid #ebeaf0;
  margin-bottom: 25px;
}
#sidebar #logo img {
  width: 200px;
  height: 40px;
}
#sidebar #menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#sidebar #menu li {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 25px;
  cursor: pointer;
  overflow: hidden;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  border-bottom: 1px solid rgba(235, 234, 240, 0.4);
}
#sidebar #menu li a {
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: #939bb0;
  align-items: center;
  text-decoration: none;
}
#sidebar #menu li a i {
  width: 20px;
  font-size: 22px;
  margin-right: 10px;
  text-align: center;
}
#sidebar #menu li a .arrow {
  font-size: 14px;
  margin-left: auto;
  transition: 350ms all ease;
}
#sidebar #menu li .sub-menu {
  height: 0px;
}
#sidebar #menu li.active {
  height: auto;
  min-height: 50px;
  box-shadow: inset 0 0 10px rgba(26, 34, 66, 0.025);
}
#sidebar #menu li.active a {
  font-weight: 600;
  color: #1a2242;
}
#sidebar #menu li.active a i {
  color: #4b85ff;
}
#sidebar #menu li.active a .arrow {
  transform: rotate(180deg);
}
#sidebar #menu li.active .sub-menu {
  height: auto;
}
#sidebar #menu li.active .sub-menu li a {
  color: #939bb0;
}
#sidebar #menu li.active .sub-menu li a i {
  color: #939bb0;
}
#sidebar #menu li.active .sub-menu li.active a {
  color: #1a2242;
}
#sidebar #menu li.active .sub-menu li.active a i {
  color: #4b85ff;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* #content-header */
}
#content #content-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #ebeaf0;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.05);
  /* #search start */
  /* #profile */
  /* #notifications */
}
#content #content-header #search {
  width: 400px;
  height: 40px;
  margin-left: 25px;
  position: relative;
}
#content #content-header #search input[type=text] {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 5px;
  font-family: "Poppins";
  box-sizing: border-box;
  border: 1px solid #ebeaf0;
}
#content #content-header #search button[type=submit] {
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  border-radius: 5px;
  background-color: #4b85ff;
  box-shadow: 0 0 5px rgba(75, 133, 255, 0.25);
}
#content #content-header #profile {
  height: 100%;
  display: flex;
  padding: 0 25px;
  min-width: 200px;
  align-items: center;
  border-left: 1px solid #ebeaf0;
  cursor: pointer;
}
#content #content-header #profile .login-user {
  display: flex;
  align-items: center;
}
#content #content-header #profile .login-user img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.15);
  object-fit: cover;
}
#content #content-header #profile .login-user span {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
#content #content-header #profile .login-user span span {
  font-weight: 600;
  margin-bottom: 3px;
}
#content #content-header #profile .login-user span p {
  font-size: 12px;
  color: #9a9a9a;
}
#content #content-header #profile .login-user i {
  color: #9a9a9a;
}
#content #content-header #notifications {
  margin-left: auto;
  display: flex;
  margin-right: 25px;
}
#content #content-header #notifications li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 12px;
  position: relative;
  cursor: pointer;
}
#content #content-header #notifications li:hover .sub-notif {
  display: flex;
}
#content #content-header #notifications li .counter {
  top: -6px;
  right: -15px;
  width: 15px;
  height: 15px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  border: 2px solid #fff;
  background-color: #4b85ff;
}
#content #content-header #notifications li a {
  color: #c6c7cc;
  text-decoration: none;
  font-size: 22px;
}
#content #content-header #notifications li .sub-notif {
  width: 350px;
  min-height: 100px;
  padding: 0 0 50px 0;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  flex-direction: column;
  right: 0;
  background-color: #fff;
  border-radius: 3px;
  border-top: 3px solid #4b85ff;
  filter: drop-shadow(0 0 5px rgba(26, 34, 66, 0.1));
  display: none;
  overflow: hidden;
}
#content #content-header #notifications li .sub-notif #all-notif {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  background-color: #fff;
  border-top: 1px solid #ebeaf0;
  color: #4b85ff;
  transition: 350ms all ease;
}
#content #content-header #notifications li .sub-notif #all-notif:hover {
  color: #fff;
  background-color: #4b85ff;
}
#content #content-header #notifications li .sub-notif li {
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0;
}
#content #content-header #notifications li .sub-notif li:not(:last-of-type) {
  border-bottom: 1px solid #ebeaf0;
}
#content #content-header #notifications li .sub-notif li:hover {
  background-color: rgba(235, 234, 240, 0.2);
}
#content #content-header #notifications li .sub-notif li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #1a2242;
  transition: 350ms all ease;
}
#content #content-header #notifications li .sub-notif li a i {
  font-size: 22px;
  margin-right: 10px;
  color: #ebeaf0;
}
#content #content-header #notifications li .sub-notif li a span {
  font-size: 12px;
  font-weight: 300;
}
#content #content-header #notifications li .sub-notif li a span strong {
  font-weight: 600;
}
#content #content-header #notifications li .sub-notif li a time {
  font-size: 10px;
  font-weight: 300;
  margin-left: auto;
}
#content #content-inner {
  width: 100%;
  height: 100%;
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#content #content-inner #welcome {
  width: 100%;
  height: 125px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #f3ae7d, #bf51c2);
  display: flex;
  padding: 0 25px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.025);
}
#content #content-inner #welcome img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid #fff;
  margin-right: 20px;
  object-fit: cover;
}
#content #content-inner #welcome .info-user {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
#content #content-inner #welcome .info-user span {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #fff;
}
#content #content-inner #welcome .info-user p {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}

.page-title {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.page-title h3 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.page-title .add-new {
  padding: 10px 15px;
  border: 1px solid #4b85ff;
  color: #4b85ff;
  border-radius: 3px;
  margin-left: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: 350ms all ease;
  font-size: 12px;
}
.page-title .add-new:hover {
  background-color: #4b85ff;
  color: #fff;
}

.box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.025);
  min-height: 150px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.box .box-title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ebeaf0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.box .box-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form .group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
form .group:last-of-type {
  margin-bottom: 0px;
}
form .group.fd-row {
  flex-direction: row;
}
form .color-palette {
  position: relative;
}
form .color-palette input[type=text] {
  width: 150px;
}
form .color-palette input[type=color] {
  width: 60px;
  height: 40px;
  border: none;
  position: absolute;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
form span {
  margin-bottom: 8px;
}
form input[type=text],
form input[type=password],
form input[type=file],
form select,
form textarea {
  width: 100%;
  border: 1px solid #ebeaf0;
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  transition: 350ms all ease;
  font-family: "Poppins";
}
form input[type=text]:focus,
form input[type=password]:focus,
form input[type=file]:focus,
form select:focus,
form textarea:focus {
  border-color: #4b85ff;
}
form input[type=password] {
  letter-spacing: 3px;
}
form input[type=file] {
  height: auto;
  padding: 10px 15px;
}
form textarea {
  min-height: 100px;
  padding: 15px;
}
form img {
  width: 250px;
  margin-bottom: 15px;
  display: none;
  object-fit: contain;
}
form input[type=submit] {
  max-width: fit-content;
  border: none;
  box-shadow: 0 0 5px rgba(235, 234, 240, 0.25);
  border-radius: 3px;
  background-color: #4b85ff;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins";
  padding: 8px 20px;
  cursor: pointer;
  transition: 350ms all ease;
}
form input[type=submit]:hover {
  background-color: rgba(75, 133, 255, 0.85);
}
form .checkbox {
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}
form .checkbox input[type=checkbox] {
  display: none;
}
form .checkbox span {
  margin: 0px 10px;
}
form .checkbox .cbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ebeaf0;
  box-sizing: border-box;
  position: relative;
}
form .checkbox.checked .cbox {
  border-color: #4b85ff;
  background-color: #4b85ff;
  border-radius: 2px;
}
form .checkbox.checked .cbox:before {
  content: "";
  position: absolute;
  font-family: "Ionicons";
  color: #fff;
  font-size: 28px;
  top: -5px;
  left: 2px;
}
form .radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  margin-right: 20px;
}
form .radio input[type=radio] {
  display: none;
}
form .radio .radio-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #ebeaf0;
  box-sizing: border-box;
  border-radius: 100%;
  margin-right: 10px;
  position: relative;
}
form .radio span {
  margin: 0;
}
form .radio.checked .radio-circle {
  border-color: #4b85ff;
}
form .radio.checked .radio-circle:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #4b85ff;
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.box-content h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h3 {
  font-size: 18.72px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h5 {
  font-size: 13.28px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content h6 {
  font-size: 10.72px;
  font-weight: 600;
  margin-bottom: 25px;
}
.box-content p {
  line-height: 1.5;
  margin-bottom: 25px;
}

#full-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#full-container img {
  width: 100px;
  margin-bottom: 25px;
}
#full-container form {
  width: 350px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.025);
}
#full-container form .group {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}
table .label {
  font-size: 10px !important;
}
table thead tr {
  border-bottom: 2px solid #ebeaf0;
}
table thead tr:hover {
  background-color: transparent;
}
table thead tr th {
  font-weight: 600;
  color: #1a2242;
}
table tr {
  height: 40px;
  line-height: 40px;
  border-collapse: collapse;
}
table tr:not(:last-of-type) {
  border-bottom: 1px solid #ebeaf0;
}
table tr:hover {
  background-color: rgba(235, 234, 240, 0.25);
}
table tr td,
table tr th {
  text-align: left;
  padding: 0 5px;
  box-sizing: border-box;
  transition: 350ms all ease;
  vertical-align: middle;
}
table tr td img,
table tr th img {
  display: block;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 5px 0px;
}
table tr td a,
table tr th a {
  font-weight: 500;
  color: #4b85ff;
  text-decoration: none;
}
table tr td a:hover,
table tr th a:hover {
  text-decoration: underline;
}

.label {
  background-color: #ebeaf0;
  width: fit-content;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.025);
  line-height: 1;
}
.label.primary {
  color: #fff;
  background-color: #4b85ff;
}
.label.success {
  color: #fff;
  background-color: #1bb394;
}
.label.danger {
  color: #fff;
  background-color: tomato;
}
.label.warning {
  color: #fff;
  background-color: #f8ac59;
}
.label.info {
  color: #fff;
  background-color: #1d84c6;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin: 3px;
  text-align: center;
  background-color: #ebeaf0;
  color: #fff;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.025);
  border: 1px solid #ebeaf0;
  /* COLORS */
  /* TPYES */
  /* SIZES */
}
.btn:hover {
  transform: scale(1.05);
}
.btn i {
  font-size: 16px;
}
.btn.primary {
  background-color: #4b85ff;
  color: #fff;
  border-color: #4b85ff;
}
.btn.danger {
  background-color: tomato;
  color: #fff;
  border-color: tomato;
}
.btn.warning {
  background-color: #f8ac59;
  color: #fff;
  border-color: #f8ac59;
}
.btn.info {
  background-color: #1d84c6;
  color: #fff;
  border-color: #1d84c6;
}
.btn.success {
  background-color: #1bb394;
  color: #fff;
  border-color: #1bb394;
}
.btn.square {
  border-radius: 3px;
}
.btn.circle {
  border-radius: 100%;
}
.btn.outline {
  background-color: transparent;
  color: rgba(26, 34, 66, 0.75);
}
.btn.sm {
  width: 25px;
  height: 25px;
}
.btn.lg {
  width: 30px;
  height: 30px;
}
.btn.lg i {
  font-size: 18px;
}

#file-upload {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ebeaf0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 50px;
}
#file-upload input[type=file] {
  display: none;
}
#file-upload label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
#file-upload label i {
  font-size: 48px;
  margin-bottom: 5px;
}
#file-upload #previews {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
#file-upload button[type=submit] {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: #4b85ff;
  color: #fff;
  font-family: "Poppins";
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.025);
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 25px;
  cursor: pointer;
  display: none;
  transition: 350ms all ease;
}
#file-upload button[type=submit]:hover {
  opacity: 0.9;
}
#file-upload .img-preview {
  width: 75px;
  height: 75px;
  border: 3px;
  box-shadow: 0 0 5px rgba(26, 34, 66, 0.025);
  margin: 5px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

#library {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#library .file {
  display: flex;
  background-color: #fff;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.025);
  margin: 10px;
  cursor: pointer;
}
#library .file img {
  width: 165px;
  height: 165px;
  object-fit: cover;
  margin-bottom: 5px;
}
#library .file span {
  font-size: 12px;
  font-weight: 600;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 34, 66, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
#overlay img {
  max-height: 85%;
  box-shadow: 0 0 20px rgba(26, 34, 66, 0.15);
  border-radius: 10px;
}

.notification {
  background-color: #ebeaf0;
  color: #1a2242;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.35;
  box-shadow: 0 0 10px rgba(26, 34, 66, 0.025);
  font-size: 13px;
}
.notification.primary {
  background-color: rgba(75, 133, 255, 0.75);
  color: #fff;
}
.notification.danger {
  background-color: rgba(255, 99, 71, 0.75);
  color: #fff;
}
.notification.success {
  background-color: rgba(27, 179, 148, 0.75);
  color: #fff;
}
.notification.warning {
  background-color: rgba(248, 172, 89, 0.75);
  color: #fff;
}
.notification.info {
  background-color: rgba(29, 132, 198, 0.75);
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
