@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$color: #4b85ff;
$text-color: #1a2242;
$border-color: #ebeaf0;

html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-size: 14px;
  color: $text-color;
  font-family: 'Poppins';
  background-color: #f5f6fa;
}

.container {
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

#sidebar {
  z-index: 1;
  min-width: 250px;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid $border-color;
  box-shadow: 0 0 10px rgba($text-color, 0.05);
  /* Logo */
  #logo {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    margin-bottom: 25px;
    img {
      width: 200px;
      height: 40px;
    }
  }
  /* #menu */
  #menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    li {
      width: 100%;
      height: 50px;
      display: flex;
      padding: 0 25px;
      cursor: pointer;
      overflow: hidden;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: center;
      border-bottom: 1px solid rgba($border-color, 0.4);
      a {
        width: 100%;
        height: 50px;
        display: flex;
        font-size: 12px;
        font-weight: 400;
        color: #939bb0;
        align-items: center;
        text-decoration: none;
        i {
          width: 20px;
          font-size: 22px;
          margin-right: 10px;
          text-align: center;
        }
        .arrow {
          font-size: 14px;
          margin-left: auto;
          transition: 350ms all ease;
        }
      }
      .sub-menu {
        height: 0px;
      }
      &.active {
        height: auto;
        min-height: 50px;
        box-shadow: inset 0 0 10px rgba($text-color, 0.025);
        a {
          font-weight: 600;
          color: $text-color;
          i {
            color: $color;
          }
          .arrow {
            transform: rotate(180deg);
          }
        }
        .sub-menu {
          height: auto;
        }
      }
    }
  }
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* #content-header */
  #content-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0 10px rgba($text-color, 0.05);
    /* #search start */
    #search {
      width: 400px;
      height: 40px;
      margin-left: 25px;
      position: relative;
      input[type='text'] {
        width: 100%;
        height: 100%;
        padding: 0 15px;
        font-size: 12px;
        border-radius: 5px;
        font-family: 'Poppins';
        box-sizing: border-box;
        border: 1px solid $border-color;
      }
      button[type='submit'] {
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        position: absolute;
        border-radius: 5px;
        background-color: $color;
        box-shadow: 0 0 5px rgba($color, 0.25);
      }
    }
    /* #profile */
    #profile {
      height: 100%;
      display: flex;
      padding: 0 25px;
      min-width: 200px;
      align-items: center;
      border-left: 1px solid $border-color;
      cursor: pointer;
      .login-user {
        display: flex;
        align-items: center;
        img {
          width: 35px;
          height: 35px;
          margin-right: 15px;
          border-radius: 100%;
          border: 2px solid #fff;
          box-shadow: 0 0 5px rgba($text-color, 0.15);
          object-fit: cover;
        }
        span {
          display: flex;
          flex-direction: column;
          margin-right: 15px;
          span {
            font-weight: 600;
            margin-bottom: 3px;
          }
          p {
            font-size: 12px;
            color: #9a9a9a;
          }
        }
        i {
          color: #9a9a9a;
        }
      }
    }
    /* #notifications */
    #notifications {
      margin-left: auto;
      display: flex;
      margin-right: 25px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0 12px;
        position: relative;
        .counter {
          top: -6px;
          right: -15px;
          width: 15px;
          height: 15px;
          color: #fff;
          font-size: 10px;
          font-weight: 500;
          line-height: 15px;
          position: absolute;
          text-align: center;
          border-radius: 100%;
          border: 2px solid #fff;
          background-color: $color;
        }
        a {
          color: #c6c7cc;
          text-decoration: none;
          font-size: 22px;
        }
      }
    }
  }
  #content-inner {
    width: 100%;
    height: 100%;
    padding: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    #welcome {
      width: 100%;
      height: 125px;
      border-radius: 5px;
      background-image: linear-gradient(to right, #f3ae7d, #bf51c2);
      display: flex;
      padding: 0 25px;
      box-sizing: border-box;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 25px;
      img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        border: 2px solid #fff;
        margin-right: 20px;
        object-fit: cover;
      }
      .info-user {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        span {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 10px;
          color: #fff;
        }
        p {
          font-size: 12px;
          color: #fff;
          font-weight: 300;
        }
      }
      .welcome-box {
        width: 175px;
        height: 70px;
        border-radius: 10px;
        background-color: rgba($text-color, 0.25);
        flex: flex-end;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

#page-title {
  width: 100%;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba($text-color, 0.025);
  min-height: 150px;
  border-radius: 5px;
  margin-bottom: 25px;
  .box-title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .box-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;

  .group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  span {
    margin-bottom: 8px;
  }

  input[type='text'],
  input[type='password'],
  input[type='file'],
  select,
  textarea {
    width: 100%;
    border: 1px solid $border-color;
    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;
    transition: 350ms all ease;
    font-family: 'Poppins';
    &:focus {
      border-color: $color;
    }
  }

  input[type='file'] {
    height: auto;
    padding: 10px 15px;
  }

  textarea {
    min-height: 100px;
    padding: 15px;
  }

  img {
    width: 250px;
    margin-bottom: 15px;
    display: none;
    object-fit: contain;
  }

  input[type='submit'] {
    max-width: fit-content;
    border: none;
    box-shadow: 0 0 5px rgba($border-color, 0.25);
    border-radius: 3px;
    background-color: $color;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins';
    padding: 8px 20px;
    cursor: pointer;
    transition: 350ms all ease;
    &:hover {
      background-color: rgba($color, 0.85);
    }
  }

  .checkbox {
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    input[type='checkbox'] {
      display: none;
    }
    span {
      margin: 0px 10px;
    }
    .cbox {
      width: 20px;
      height: 20px;
      border: 2px solid $border-color;
      box-sizing: border-box;
      position: relative;
    }
    &.checked {
      .cbox {
        border-color: $color;
        background-color: $color;
        border-radius: 2px;
        &:before {
          content: '';
          position: absolute;
          font-family: 'Ionicons';
          color: #fff;
          font-size: 28px;
          top: -5px;
          left: 2px;
        }
      }
    }
  }
}

.box-content {
  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 18.72px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h5 {
    font-size: 13.28px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h6 {
    font-size: 10.72px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  p {
    line-height: 1.5;
    margin-bottom: 25px;
  }
  .label {
    background-color: $border-color;
    width: fit-content;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
    box-shadow: 0 0 5px rgba($text-color, 0.025);
    &.primary {
      color: #fff;
      background-color: $color;
    }
    &.success {
      color: #fff;
      background-color: #1bb394;
    }
    &.danger {
      color: #fff;
      background-color: tomato;
    }
    &.warning {
      color: #fff;
      background-color: #f8ac59;
    }
    &.info {
      color: #fff;
      background-color: #1d84c6;
    }
  }
}

#full-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    width: 100px;
    margin-bottom: 25px;
  }
  form {
    width: 350px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba($text-color, 0.025);
    .group {
      margin-bottom: 15px;
    }
  }
}
