@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$color: #4b85ff;
$text-color: #1a2242;
$border-color: #ebeaf0;

$success-color: #1bb394;
$danger-color: tomato;
$info-color: #1d84c6;
$warning-color: #f8ac59;

::-webkit-scrollbar {
  width: 3px;
  border-right: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: $text-color;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-size: 14px;
  color: $text-color;
  font-family: 'Poppins';
  background-color: #f5f6fa;
  min-height: 5000px;
}

.container {
  height: 100%;
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

#sidebar {
  z-index: 1;
  min-width: 250px;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid $border-color;
  box-shadow: 0 0 10px rgba($text-color, 0.05);
  /* Logo */
  #logo {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    margin-bottom: 25px;
    img {
      width: 200px;
      height: 40px;
    }
  }
  /* #menu */
  #menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    li {
      width: 100%;
      height: 50px;
      display: flex;
      padding: 0 25px;
      cursor: pointer;
      overflow: hidden;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: center;
      border-bottom: 1px solid rgba($border-color, 0.4);
      a {
        width: 100%;
        height: 50px;
        display: flex;
        font-size: 12px;
        font-weight: 400;
        color: #939bb0;
        align-items: center;
        text-decoration: none;
        i {
          width: 20px;
          font-size: 22px;
          margin-right: 10px;
          text-align: center;
        }
        .arrow {
          font-size: 14px;
          margin-left: auto;
          transition: 350ms all ease;
        }
      }
      .sub-menu {
        height: 0px;
      }
      &.active {
        height: auto;
        min-height: 50px;
        box-shadow: inset 0 0 10px rgba($text-color, 0.025);
        a {
          font-weight: 600;
          color: $text-color;
          i {
            color: $color;
          }
          .arrow {
            transform: rotate(180deg);
          }
        }
        .sub-menu {
          height: auto;
          li {
            a {
              color: #939bb0;
              i {
                color: #939bb0;
              }
            }
            &.active {
              a {
                color: $text-color;
                i {
                  color: $color;
                }
              }
            }
          }
        }
      }
    }
  }
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* #content-header */
  #content-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0 10px rgba($text-color, 0.05);
    /* #search start */
    #search {
      width: 400px;
      height: 40px;
      margin-left: 25px;
      position: relative;
      input[type='text'] {
        width: 100%;
        height: 100%;
        padding: 0 15px;
        font-size: 12px;
        border-radius: 5px;
        font-family: 'Poppins';
        box-sizing: border-box;
        border: 1px solid $border-color;
      }
      button[type='submit'] {
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        position: absolute;
        border-radius: 5px;
        background-color: $color;
        box-shadow: 0 0 5px rgba($color, 0.25);
      }
    }
    /* #profile */
    #profile {
      height: 100%;
      display: flex;
      padding: 0 25px;
      min-width: 200px;
      align-items: center;
      border-left: 1px solid $border-color;
      cursor: pointer;
      .login-user {
        display: flex;
        align-items: center;
        img {
          width: 35px;
          height: 35px;
          margin-right: 15px;
          border-radius: 100%;
          border: 2px solid #fff;
          box-shadow: 0 0 5px rgba($text-color, 0.15);
          object-fit: cover;
        }
        span {
          display: flex;
          flex-direction: column;
          margin-right: 15px;
          span {
            font-weight: 600;
            margin-bottom: 3px;
          }
          p {
            font-size: 12px;
            color: #9a9a9a;
          }
        }
        i {
          color: #9a9a9a;
        }
      }
    }
    /* #notifications */
    #notifications {
      margin-left: auto;
      display: flex;
      margin-right: 25px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0 12px;
        position: relative;
        cursor: pointer;
        &:hover {
          .sub-notif {
            display: flex;
          }
        }
        .counter {
          top: -6px;
          right: -15px;
          width: 15px;
          height: 15px;
          color: #fff;
          font-size: 10px;
          font-weight: 500;
          line-height: 15px;
          position: absolute;
          text-align: center;
          border-radius: 100%;
          border: 2px solid #fff;
          background-color: $color;
        }
        a {
          color: #c6c7cc;
          text-decoration: none;
          font-size: 22px;
        }
        .sub-notif {
          width: 350px;
          min-height: 100px;
          padding: 0 0 50px 0;
          box-sizing: border-box;
          position: absolute;
          top: 20px;
          flex-direction: column;
          right: 0;
          background-color: #fff;
          border-radius: 3px;
          border-top: 3px solid $color;
          filter: drop-shadow(0 0 5px rgba($text-color, 0.1));
          display: none;
          overflow: hidden;
          #all-notif {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 12px;
            background-color: #fff;
            border-top: 1px solid $border-color;
            color: $color;
            transition: 350ms all ease;
            &:hover {
              color: #fff;
              background-color: $color;
            }
          }
          li {
            height: 40px;
            padding: 0 10px;
            box-sizing: border-box;
            margin: 0;
            &:not(:last-of-type) {
              border-bottom: 1px solid $border-color;
            }
            &:hover {
              background-color: rgba($border-color, 0.2);
            }
            a {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              color: $text-color;
              transition: 350ms all ease;

              i {
                font-size: 22px;
                margin-right: 10px;
                color: $border-color;
              }
              span {
                font-size: 12px;
                font-weight: 300;
                strong {
                  font-weight: 600;
                }
              }
              time {
                font-size: 10px;
                font-weight: 300;
                margin-left: auto;
              }
            }
          }
        }
      }
    }
  }
  #content-inner {
    width: 100%;
    height: 100%;
    padding: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    #welcome {
      width: 100%;
      height: 125px;
      border-radius: 5px;
      background-image: linear-gradient(to right, #f3ae7d, #bf51c2);
      display: flex;
      padding: 0 25px;
      box-sizing: border-box;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 25px;
      box-shadow: 0 0 10px rgba($text-color, 0.025);
      img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        border: 2px solid #fff;
        margin-right: 20px;
        object-fit: cover;
      }
      .info-user {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        span {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 10px;
          color: #fff;
        }
        p {
          font-size: 12px;
          color: #fff;
          font-weight: 300;
        }
      }
    }
  }
}

.page-title {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  h3 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .add-new {
    padding: 10px 15px;
    border: 1px solid $color;
    color: $color;
    border-radius: 3px;
    margin-left: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: 350ms all ease;
    font-size: 12px;
    &:hover {
      background-color: $color;
      color: #fff;
    }
  }
}

.box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba($text-color, 0.025);
  min-height: 150px;
  border-radius: 5px;
  margin-bottom: 25px;
  .box-title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 25px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .box-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;

  .group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    &:last-of-type {
      margin-bottom: 0px;
    }
    &.fd-row {
      flex-direction: row;
    }
  }

  span {
    margin-bottom: 8px;
  }

  input[type='text'],
  input[type='password'],
  input[type='file'],
  select,
  textarea {
    width: 100%;
    border: 1px solid $border-color;
    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;
    transition: 350ms all ease;
    font-family: 'Poppins';
    &:focus {
      border-color: $color;
    }
  }

  input[type='password'] {
    letter-spacing: 3px;
  }

  input[type='file'] {
    height: auto;
    padding: 10px 15px;
  }

  textarea {
    min-height: 100px;
    padding: 15px;
  }

  img {
    width: 250px;
    margin-bottom: 15px;
    display: none;
    object-fit: contain;
  }

  input[type='submit'] {
    max-width: fit-content;
    border: none;
    box-shadow: 0 0 5px rgba($border-color, 0.25);
    border-radius: 3px;
    background-color: $color;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins';
    padding: 8px 20px;
    cursor: pointer;
    transition: 350ms all ease;
    &:hover {
      background-color: rgba($color, 0.85);
    }
  }

  .checkbox {
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    input[type='checkbox'] {
      display: none;
    }
    span {
      margin: 0px 10px;
    }
    .cbox {
      width: 20px;
      height: 20px;
      border: 2px solid $border-color;
      box-sizing: border-box;
      position: relative;
    }
    &.checked {
      .cbox {
        border-color: $color;
        background-color: $color;
        border-radius: 2px;
        &:before {
          content: 'Ôèø';
          position: absolute;
          font-family: 'Ionicons';
          color: #fff;
          font-size: 28px;
          top: -5px;
          left: 2px;
        }
      }
    }
  }

  .radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    margin-right: 20px;
    input[type='radio'] {
      display: none;
    }
    .radio-circle {
      width: 20px;
      height: 20px;
      border: 2px solid $border-color;
      box-sizing: border-box;
      border-radius: 100%;
      margin-right: 10px;
      position: relative;
    }
    span {
      margin: 0;
    }
    &.checked {
      .radio-circle {
        border-color: $color;
        &:before {
          content: '';
          width: 10px;
          height: 10px;
          background-color: $color;
          border-radius: 100%;
          position: absolute;
          top: 3px;
          left: 3px;
        }
      }
    }
  }
}

.box-content {
  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 18.72px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h5 {
    font-size: 13.28px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  h6 {
    font-size: 10.72px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  p {
    line-height: 1.5;
    margin-bottom: 25px;
  }
}

#full-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    width: 100px;
    margin-bottom: 25px;
  }
  form {
    width: 350px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba($text-color, 0.025);
    .group {
      margin-bottom: 15px;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  .label {
    font-size: 10px !important;
  }
  thead {
    tr {
      border-bottom: 2px solid $border-color;
      &:hover {
        background-color: transparent;
      }
      th {
        font-weight: 600;
        color: $text-color;
      }
    }
  }
  tr {
    height: 40px;
    line-height: 40px;
    border-collapse: collapse;
    &:not(:last-of-type) {
      border-bottom: 1px solid $border-color;
    }
    &:hover {
      background-color: rgba($border-color, 0.25);
    }
    td,
    th {
      text-align: left;
      padding: 0 5px;
      box-sizing: border-box;
      transition: 350ms all ease;
      vertical-align: middle;
      img {
        display: block;
        width: 30px;
        height: 30px;
        object-fit: cover;
        margin: 5px 0px;
      }
      a {
        font-weight: 500;
        color: $color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.label {
  background-color: $border-color;
  width: fit-content;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0 0 5px rgba($text-color, 0.025);
  line-height: 1;
  &.primary {
    color: #fff;
    background-color: $color;
  }
  &.success {
    color: #fff;
    background-color: $success-color;
  }
  &.danger {
    color: #fff;
    background-color: $danger-color;
  }
  &.warning {
    color: #fff;
    background-color: $warning-color;
  }
  &.info {
    color: #fff;
    background-color: $info-color;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin: 3px;
  text-align: center;
  background-color: $border-color;
  color: #fff;
  box-shadow: 0 0 5px rgba($text-color, 0.025);
  border: 1px solid $border-color;
  &:hover {
    transform: scale(1.05);
  }
  i {
    font-size: 16px;
  }
  /* COLORS */
  &.primary {
    background-color: $color;
    color: #fff;
    border-color: $color;
  }
  &.danger {
    background-color: $danger-color;
    color: #fff;
    border-color: $danger-color;
  }
  &.warning {
    background-color: $warning-color;
    color: #fff;
    border-color: $warning-color;
  }
  &.info {
    background-color: $info-color;
    color: #fff;
    border-color: $info-color;
  }
  &.success {
    background-color: $success-color;
    color: #fff;
    border-color: $success-color;
  }
  /* TPYES */
  &.square {
    border-radius: 3px;
  }
  &.circle {
    border-radius: 100%;
  }
  &.outline {
    background-color: transparent;
    color: rgba($text-color, 0.75);
  }
  /* SIZES */
  &.sm {
    width: 25px;
    height: 25px;
  }
  &.lg {
    width: 30px;
    height: 30px;
    i {
      font-size: 18px;
    }
  }
}

#file-upload {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $border-color;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 50px;
  input[type='file'] {
    display: none;
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    i {
      font-size: 48px;
      margin-bottom: 5px;
    }
  }
  #previews {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  button[type='submit'] {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: $color;
    color: #fff;
    font-family: 'Poppins';
    box-shadow: 0 0 10px rgba($text-color, 0.025);
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px;
    cursor: pointer;
    display: none;
    transition: 350ms all ease;
    &:hover {
      opacity: 0.9;
    }
  }
  .img-preview {
    width: 75px;
    height: 75px;
    border: 3px;
    box-shadow: 0 0 5px rgba($text-color, 0.025);
    margin: 5px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
  }
}

#library {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .file {
    display: flex;
    background-color: #fff;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba($text-color, 0.025);
    margin: 10px;
    cursor: pointer;
    img {
      width: 165px;
      height: 165px;
      object-fit: cover;
      margin-bottom: 5px;
    }
    span {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba($text-color, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  img {
    max-height: 85%;
    box-shadow: 0 0 20px rgba($text-color, 0.15);
    border-radius: 10px;
  }
}

.notification {
  background-color: $border-color;
  color: $text-color;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.35;
  box-shadow: 0 0 10px rgba($text-color, 0.025);
  font-size: 13px;
  &.primary {
    background-color: rgba($color, 0.75);
    color: #fff;
  }
  &.danger {
    background-color: rgba($danger-color, 0.75);
    color: #fff;
  }
  &.success {
    background-color: rgba($success-color, 0.75);
    color: #fff;
  }
  &.warning {
    background-color: rgba($warning-color, 0.75);
    color: #fff;
  }
  &.info {
    background-color: rgba($info-color, 0.75);
    color: #fff;
  }
}
